@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  outline: none;
  border: none;

}

body {
  position: relative;
}

/* Global CSS */

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 60px;
  padding-bottom: 2rem;
}
h3 {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  font-weight: 500;
}

#w-btn{
  margin-left: 40px;
  background-color: #fff;
  padding: 9px 30px;
  border-radius: 25px;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: none;
  border: none;
}






#g-btn{
  text-decoration: none;
  background-color: #51a995;
  color: #fff;
  padding: 9px 30px;
  border-radius: 20px;
  cursor: pointer;
}

.sec-space {
  padding: 6rem 0;
}
.extra-space {
  padding-top: 8rem;
}

.obj-width {
  max-width: 1200px;
  margin: auto;
}

/*Navbar*/




header {
  background-color: #1f4a40;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}


#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

#navbar .logo {
  width: 120px;
}

.logo:hover{
  transform: scale(1.1);
}

#menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  padding: 10px 20px;
}
.dropDown a{
  color: black;
  font-size: 1.1rem;
}

#menu li a {
  color:#fff;
  text-decoration: none;
  margin-left: 40px;
  font-size: 1.1rem;
  font-weight: 500;
}

#menu li a:hover{
  color: #c2f2d0;
  transition: 0.3s ease;
  
}


ul li ul.dropDown li {
  display: flex;
  font-size: 1.1rem;
  font-weight: 500;
  
  
}

ul li ul.dropDown {
  width: auto;
  background: ;
  border-radius: 13px;
  position: absolute;
  z-index: 999;
  display: none;
  background: #51a995;
  
  

}

ul li a:hover{
  background: ;
  background-color: ;
  transform: scale(1.1);
  transition: 0.3s;
  
}

ul li:hover ul.dropDown{
  display: block;
}




#bar{
  color: #fff;
  display: none;
}

.hero{
  background-color: #1f4a40;
}



.hero-box{
  display: flex;
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}

.h-right{
  width: 50%;
}

.h-right img{
  width: 100%;
  object-fit: cover;
}

.h-left{
  width: 45%;
  color: #fff;
}

.h-left p{
  padding: 1.5rem 0;
}

.search{
  position: relative;
}

.search a:hover {
  transform: scale(1.1);
}

.search a span{
  text-shadow: 0 0 25px var(#244f45);
}

.search input{
  width: 100%;
  height: 4rem;
  border-radius: 35px;
  padding: 0 20px;
  font-size: 1rem;
  outline: none;
  border: none;
  transition: all 0.3s ease;
  border-radius: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);

}

.search a{
  position: absolute;
  top: 12px;
  right: 20px;

}

.h-right{
  width: 50%;
}

.h-right img{
  width: 100%;
  object-fit: cover;
}


/* Features Section */
.features {
  background-color: #f9f9f9;
  text-align: center;
}

.feature-items {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.feature {
  flex-basis: 30%;
  text-align: center;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.feature i {
  font-size: 2rem;
  color: #51a995;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
}



/* Job Listing Section */
.jobs {
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.job-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.job-item {
  padding: 2rem;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Brand Section */
.brands {
  text-align: center;
}

.brand-logos {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.brand-logos img {
  width: 150px;
  height: auto;
}

/* Team Section */
.team {
  background-color: #f9f9f9;
  text-align: center;
}

.team-members {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.member {
  flex-basis: 30%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.member img {
  width: 100%;
  border-radius: 50%;
  margin-bottom: 1rem;
}

/* Footer 
footer {
  background-color: #1f4a40;
  color: white;
  text-align: center;
  padding: 2rem 0;
}
*/




.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: #1f4a40;
}
.footer .social{
  text-align: center;
  padding-bottom: 25px;
  color: #fff;
}
.footer .social a{
  font-size: 25px;
  color: var(--main-color);
  border: 2px solid #fff;
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block; 
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease-in-out;
}
.footer .social a:hover{
  transform: scale(1.2)translateY(-10px);
  background-color: #fff;
  color: black;
  box-shadow: 0 0 0 #fff;
}
.footer ul{
  margin-top: 0; 
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}
.footer ul li a{
  color: #fff;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
  border-bottom: 3px solid #1f4a40;
}
.footer ul li{
  display: inline-block;
  padding:0 15px;
  
}
.footer .copyright{
  margin-top: 50px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}


.jobs .job-id{
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.1);
}

.jobs .job-id li{
  padding: 20px 40px;
  cursor: pointer;
  color: #000;
}

.jobs .job-id li.active{
  background-color: #51a995;
  color: #fff;
}

.jobs .jList{
  margin: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #dee2e6;
  align-items: center;
  justify-items: start;
  cursor: pointer;
  color: #000;
  padding: 2rem 2rem;
  border-radius: 15px;
}

.jobs .jList.delete{
  display: none;
}



.jobs .jList:hover{
  background: #ecf1ee;
}

.jobs .jList img{
  width: 40px;
}

.jobs .jList h3 {
  padding-bottom: 0;
}

.brands .brand-logos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 3rem;
}

.brands .brand-logos img {
  margin: 1rem 1rem 1rem 0;

}

.brand-logos img:hover {
  transform: scale(1.1);
}

.jList:hover {
  transform: scale(1.1);
  background-color: #dee2e6;
}

.feature:hover {
  transform: scale(1.1);
  background-color: #dee2e6;
}

.member:hover {
  transform: scale(1.1);
  background-color: #dee2e6;
}

.job-item:hover{
  transform: scale(1.1);
}

.features .fe-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.features .fe-box .img {
  width: 50px;
  margin-top: 3rem;
}

.features .fe-box div{
  width: 200px;
}



/* footer */

footer {
  background: #1f4a40;
  color: #fff;
  padding: 4rem 0;
}

.top {
  display: flex;
  align-items: center;
  text-align: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top .logo {
  width: 170px;
  margin-bottom: 1rem;
}

.top i{
  color: #fff;
  font-size: 2rem;
  margin-left: 0.5rem;

}

.bottom {
  padding-top: 2rem;
  text-align: start;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bottom div {
  display: flex;
  flex-direction: column;
}

.bottom a{
  text-decoration: none;
  color: #fafafa;
  line-height: 35px;
  font-size: 1.1rem;
}
/* linked page job */

.jobs form {
  margin-top: 3rem;
  width: 100%;
  border: 1px solid #51a995;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jobs form i{
  padding-left: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
}

.jobs form input{
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem .5rem;
  font-size: 1.1rem;
}

/*register*/

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  text-align: center;
}

.close {
  float: right;
  font-size: 1.5em;
  cursor: pointer;
}

.modal-button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 1.1em;
  background-color: #0073e6;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* job Details page */
.job-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8fcfa;
  border: 1px solid #51a995;
  border-radius: 38px;
  padding: 2rem;
}

.job-img-row {
  display: flex;
  align-items: center;
}

.job-header img {
  width: 100px;
  background: #fff;
  padding: 1rem;
  border-radius: 15px;
  margin-right: 2rem;

}

/*contact*/
.contact {
  display: flex;
  align-items: center;
}

.contact-img{
  width: 50%;
}

.contact-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact form{
  width: 400px;
}

.contact input,
 .contact textarea{
  width: 100%;
  margin: 0.5rem 0 1rem 0;
  border: 1px solid #51a995;
  box-shadow: none;
  outline: none;
  padding: 0.8rem 0.5rem;
  font-size: 1.1rem;

 }


input, textarea {
  border: 1px solid black; /* Ensure form inputs have borders */
}





@media(max-width: 1200px){
  .obj-width {
    width: 95%;
  }
}


@media(max-width:775px){
  #menu {
    background-color: #fff;
    display: block;
    width: 280px;
    height: auto;
    position: absolute;
    top: 80px;
    right: -100%;
    padding: 30px 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    opacity: 0;
    transition: all 0.3s ease;
  }

#menu.active {
  right: 10px;
  opacity: 1;
}

#menu li{
  padding: 1rem;
}



#menu li a {
  color: #1f4a40;
}

#bar{
  display: block;
  font-size: 1.7rem;
  cursor: pointer;
}

ul li ul.dropDown{
  background: #fff;
  

}




#w-btn {
  margin: 20px 0 0 50px;
  background: #1f4a40;
  color: #fff;
}

.hero-box{
  flex-direction: column-reverse;
  justify-content: center;
  height: auto;
  align-items: start;
  padding: 8rem 0;
  align-items: center;
}
.h-left {
  width: 100%;
}

.h-right {
  display: block !important;;
  width: 100%;
}

.h-right img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-top: 1rem;
}


.features .fe-box div {
  width: 40%;
}





.jobs .job-id{
  position: relative;
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;

 
}

.jobs .jobs-id li{
  padding: 20px 30px;
  text-wrap: nowrap;
  
}

.jobs-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.jobs .jList {
  width: 40%;
  margin-top: 1rem;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 15px;
  padding: 2rem 1rem;
  text-align: center;
  justify-items: center;
}

.feature-items {
  display: grid;
  gap: 20px;
  padding-bottom: 7rem;
  grid-template-columns: repeat(1,1fr);
  margin: 0 5rem;
}

.job-list {
  display: grid;
  gap: 20px;
  padding-bottom: 7rem;
  grid-template-columns: repeat(1,1fr);
  margin: 0 5rem;
}

.contact form{
  flex-direction: column;
}

/* footer */
.bottom div {
  width: 50%;
  margin-bottom: 50px; 
}
.top i{
  margin: 1rem 1rem 0 0;

}

}


@media (max-width: 576px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1rem;
  }

  .feature, .member {
    flex: 1 1 100%; /* Full width on very small screens */
  }

  .brand-logos img {
    width: 80px;
  }

  .h-right img {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }
  




}

@media (max-width:699px){

  .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact form {
  width: 100%;
}

.contact-img{
  width: 100%;
}

.contact-img img{
  width: 70%;
  height: auto;
}
}

}